<!DOCTYPE html>
<html>

<head>
	<title>Numerology</title>
</head>

<body bgcolor = "#E8E8EC" width = "100%">
<b>Welcome to Numerology !!</b>
<br><br />


<form method="POST" action="https://Numerology--sbalasa.repl.co/results">
  <pre>
    Enter your First Name:  <input type="text" name="firstname">
    Enter your Middle Name: <input type="text" name="middlename">
    Enter your Last name:   <input type="text" name="lastname">
    Birthday dd/mm/yyyy:    <input type="text" name="bday">
  </pre>
  <input type="submit" value="Submit">
</form>
</body>
</html>
